body{
  margin:0;
  background:#eef1f7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-container{
  max-width:1000px;
  margin:40px auto;
}

.app-title{
  text-align:center;
  margin-bottom:30px;
  font-size:34px;
  font-weight:700;
  color:#2d2d2d;
}

/* GRID LAYOUT */

.dashboard-grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:25px;
  align-items:start;
}

/* section titles */

.section-title{
  font-weight:700;
  margin-bottom:12px;
  color:#444;
}
/* ---------- TABLET VIEW ---------- */
@media (max-width: 900px){

  .dashboard-grid{
    grid-template-columns: 1fr 1fr;
  }

}

/* ---------- MOBILE VIEW ---------- */
@media (max-width: 600px){

  .app-container{
    padding:0 14px;
    margin:20px auto;
  }

  .app-title{
    font-size:26px;
  }

  .dashboard-grid{
    grid-template-columns: 1fr;
    gap:18px;
  }

  .section-title{
    font-size:16px;
    margin-top:5px;
  }

}




/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
